.product_container {
  margin: 2rem;
}
.product,
.information_block {
  padding: 1rem;
  width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 1rem 1rem 5rem rgba(000, 000, 000, 0.2);
}

.product {
  background-color: #d7ccc8;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
}

.product_image {
  max-height: 20rem;
  border: 0.2rem solid #bdbdbd;
}
.information_block {
  background-color: #5d4037;
  border-radius: 0rem 0rem 0.5rem 0.5rem;
  color: #ffffff;
}
.product_name {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  text-align: center;
}
.price {
  font-size: 1.5rem;
  padding: 1rem;
}
